body {
	background-color: white;
}
h1 {
	color: blue;
	a
}
p {
	color: red;
}
a:link,a:visited {
	color: green;
}
a:hover {
	color: blue;
}
div.navigation {
	background-color: powderblue;
	font-family: monospace;
	text-align: center;
}
div.interaction {
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 10%;
}